@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

// default settings 
  //for antd
@ant-prefix: ant;
@item-hover-bg: #f5f5f5;
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

a {
  color: #333;

  &:hover {
    color: #333;
  }
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

button:not(.cancel-btn, .normal-btn, .ant-btn),
input[type="submit"]:not(.cancel-btn, .ant-btn .normal-btn) {
  border: none;
}

.box-shadow-default {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.ant-btn-primary span {
  color: white;
}

.input-field {
  span {
    transition: all ease .3s;
    font-size: 15px;
  }

  input:focus+span,
  input:not(:placeholder-shown)+span {
    top: -5px;
    left: -5px;
    font-size: 13px;
    color: #333;
  }

  input {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-size: 14px;
    border-width: 0px 0px 2px 0px !important;
    border-color: #bbb;
    transition: all ease .2s;
    &:focus {
      outline: none;
      border-color: rgb(0, 123, 255);
      border-bottom-width: 2px;
    }
  }

  // input:autofill {
  //   width: 100%;
  //   height: 50px;
  //   padding: 0px 0px;
  //   padding-top: 10px;
  //   font-size: 14px;
  //   border-width: 0px 0px 1px 0px !important;
  //   border-color: #bbb;
  //   background: rgba(255, 255, 255, 0);
  //   transition: all ease .2s;

  //   &:focus {
  //     outline: none;
  //     border-color: rgb(0, 123, 255);
  //     border-bottom-width: 2px;
  //   }
  // }
}

.modal-container {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .overlay {
    cursor: initial;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal-loading {
    z-index: 1000;
    .lds-ring {
      transform: scale(0.7);
    }
    .lds-ring > div {
      border-color: black transparent transparent transparent;
    }
  } 
}

.modal {
  position: absolute;
  z-index: 100;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: inherit;

  .modal-title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: inherit;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    background: rgba(0, 123, 255, 0.2);
    padding: 15px 0 15px 20px;

    .modal-title {
      padding: 0;
      margin: 0;
    }

    .modal-close-icon {
      cursor: pointer;
      font-size: 18px;
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 10px;
    }
  }

  form {
    padding: 12px 30px 30px 30px;

    .input-field {
      width: 400px;
      margin-top: 30px;
    }

    .buttons {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    }

  }
}

.error-modal {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    border-radius: 15px;
    position: absolute;
    z-index: 100;
    background: white;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;

    p {
      --font-color: red;
      max-width: 220px;
      text-align: center;
    }

    button {
      margin-top: 20px;
      align-self: center;
    }
  }

  .overlay {
    cursor: initial;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

}


#navbar {
  height: 50px;
  position: fixed;
  z-index: 20;
  width: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  user-select: none;
  .box-shadow-default;

  .navbar-right {
    display: flex;
    align-items: center;
    align-self: stretch;

    .navbar-notification {
      padding: 10px;
      margin-right: 25px;
      font-size: 20px;
      width: 20px;
      height: 20px;
      box-sizing: content-box;
      cursor: pointer;
      border-radius: 50%;
      transition: background ease .3s;

      &:hover {
        background: rgba(0, 0, 0, 0.07);
      }
    }

    .navbar-profile {
      display: flex;
      align-items: center;
      align-self: stretch;
      position: relative;
      cursor: pointer;
      padding-inline: 10px;

      &:hover {
        background: rgba(0, 0, 0, 0.07);

        .navbar-profile-drop-down {
          opacity: 1;
          pointer-events: inherit;
          transform: translateY(15px);
        }
      }

      &:hover>.drop-down-icon {
        transform: translateY(3px);
      }

      .avatar {
        width: 35px;
        height: 35px;

        img {
          border-radius: 50%;
        }
      }

      &-drop-down {
        position: absolute;
        top: 35px;
        right: 0;
        background: white;
        --font-color: rgb(0, 123, 255);
        width: 100%;
        font-size: 14px;
        transition: all ease .2s;
        opacity: 0;
        pointer-events: none;
        .box-shadow-default;

        a {
          text-decoration: none;
        }

        li {
          padding-inline: 20px;
          padding-block: 12px;

          &:hover {
            background: rgba(0, 123, 255, 0.1);
          }
        }
      }

      .profile-name-role {
        .profile-name {
          font-size: 14px;
        }

        .profile-role {
          font-size: 11px;
        }

        margin-left: 10px;
      }

      .drop-down-icon {
        transform: translateY(-2px);
        font-size: 17px;
        margin-left: 20px;
        margin-right: 10px;
        transition: transform ease .2s;
      }
    }
  }
}

#sidebar.minimize {
  .logo {
    font-size: 15px;
  }

  .sidebar-menu-item>a {
    padding-inline: 0;
  }

  .sidebar-menu-item-icon {
    padding-inline: 20px;
  }

  .sidebar-menu-item-name {
    font-size: 0;
    opacity: 0;
  }
}

#sidebar {

  &,
  & * {
    transition: all ease .3s;
  }

  .box-shadow-default;
  position: relative;
  z-index: 30;
  background: white;
  user-select: none;

  .logo {
    color: black;
    font-weight: 900;
    font-size: 30px;
    user-select: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-shadow-default;
  }

  .sidebar-menu {
    margin-top: 20px;

    &-item {
      a {
        display: flex;
        align-items: center;
        padding: 16px 20px 16px 30px;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }

        &:not(.active):hover {
          background: rgba(0, 0, 0, 0.1);
        }

        border-left: 3px solid rgba(0, 0, 0, 0);
      }

      a.active {
        background: rgba(0, 123, 255, 0.1);
        --font-color: rgba(0, 123, 255);
        border-left-color: rgba(0, 123, 255, 1);
      }

      &-icon {
        font-size: 18px;
        height: 18px;
        padding: 0 31px 0 0px;
      }

      &-name {
        transition: all ease .3s, opacity 0s;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .minimize-maximize-btn {
    position: absolute;
    font-size: 18px;
    line-height: 14px;
    background: white;
    .box-shadow-default;
    border-radius: 0px 999px 999px 0;
    padding-block: 15px;
    padding-right: 5px;
    top: 50%;
    transform: translateY(-50%);
    right: -23px;
    cursor: pointer;
  }
}

#logged {
  .content {
    background: #F0F2F5;
    &-outer-container {
      min-height: calc(100vh - 95px);
      width: calc(100% - 60px);

      .content-inner-container {
        min-height: calc(100vh - 95px);
        border-radius: inherit;
      }
      .title {
        font-weight: 800;
        text-transform: uppercase;
        --font-color: rgba(0, 123, 255, 1);
      }
    }
  }
}


#login,
#forgot-password {
  background: #E8EDE4;
  background: linear-gradient(85.38deg, #E8EDE4 -23.38%, #F8F2EB 97.65%);

  .ellipses {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;

    .container {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;

      .ellipse {
        position: absolute;
        box-shadow: 10px 14px 104px rgba(0, 0, 0, 0.12);
        filter: blur(50px);
        border-radius: 50%;
      }

      .ellipse.ellipse-medium {
        width: 427px;
        height: 427px;
      }

      .ellipse.ellipse-small {
        width: 279px;
        height: 279px;
      }

      .ellipse.ellipse-green {
        background: rgba(49, 129, 97, 0.25);
      }

      .ellipse.ellipse-orange {
        background: #F9E1C3;
      }

      .pos-1 {
        left: -180px;
        bottom: -200px;
      }

      .pos-2 {
        left: 50%;
        top: 10px;
      }

      .pos-3 {
        left: -88px;
        top: -89px;
      }

      .pos-4 {
        left: 27.5%;
        top: 81px;
      }

      .pos-5 {
        right: 32.5%;
        top: 55%;
      }

    }

  }

  .logo {
    color: #333;
    font-weight: 900;
    font-size: 50px;
    user-select: none;

    @media (max-width: 600px) {
      display: none;
    }

    position: relative;
  }

  form {
    box-shadow: 0px 0px 50px 5px #DFD9CE;
    border: 3px solid white;
    width: 450px;

    @media (max-width: 600px) {
      height: 100vh;
      border-radius: 0px;
      border: none;
      margin-top: 0;
      width: 100%;
      padding-inline: 30px;
    }
  
    .forgot-password {
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center;

      &,
      svg {
        transition: all ease .2s;
      }

      svg {
        transform: translate(-50px, 0);
        opacity: 0;
      }

      &:hover {
        color: rgb(0, 123, 255);
        transform: translate(-5px, 0);

        svg {
          transform: translate(5px, 0);
          opacity: 1;
        }
      }
    }
  }
}

#profile {
  .profile-content {
    display: flex;

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;

      .avatar {
        position: relative;
        width: 120px;
        height: 120px;
        margin-block: 40px;

        img {
          border-radius: 50%;
        }

        &-edit {
          position: absolute;
          background: rgb(230, 230, 230);
          cursor: pointer;
          bottom: 0;
          right: 0;
          font-size: 13px;
          height: 30px;
          width: 30px;
          border-radius: 9999px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      a {
        text-decoration: none;
      }

      .change-password-btn {
        margin-top: 20px;
      }
    }

    &-right {
      flex: auto;

      hr {
        border: .5px solid rgba(0, 0, 0, 0.2);
        margin-block: 12px;
      }

      .personal-information,
      .school-information {
        display: flex;
        margin-top: 20px;

        ul {
          width: 100%;

          li {
            display: flex;

            div {
              margin-bottom: 24px;
              font-size: 14px;
            }

            div:first-child {
              min-width: 120px;
              width: 23%;
              text-align: right;
              font-weight: 600;
            }

            div:nth-child(2) {
              margin-left: 30px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

#change-password {
  .ant-btn-dangerous {
    margin-bottom: 10px;
  }
}

#students, #user-list {
  .select-field {
    display: flex;
    gap: 15px;
    .ant-select {
      width: 250px;  
    }
  }

  .ant-pagination.ant-table-pagination.ant-table-pagination-right {
    margin-top: 0;
  }

  .ant-table {

    .students-table-avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    .ant-table-cell {
      padding: 12px 16px;
      cursor: default;
    }
  }

  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: rgba(0, 123, 255, 0.1);
  }
}

#classes {
  .courses-search {
    .input-field {
      margin: 0;
    }

    width: 500px;
    display: flex;
    margin: 0 auto 10px;
  }

  .ant-table-cell {
    padding: 10px;
  }

  .ant-pagination {
    margin: 30px 0;
  }

}

#account-management {
  #single-user-manage {
    .form-user {
      width: 800px;
    }
    .ant-col.ant-form-item-label {
      padding-bottom: 2px;
    }
    .ant-row.ant-form-item {
      margin-bottom: 6px;
    }
    .ant-input.ant-input-disabled {
      background: #eee;
      color: black;
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
  #gen-accounts {
    .ant-form {
      width: 384px;
    }
    .ant-btn-primary[disabled] {
      span {
        color: rgba(0,0,0,0.5);
      }
    }
    .ant-upload.ant-upload-select {
      width: 384px;
      .ant-btn {
        width: 100%;
      }
    }
    .ant-upload-list.ant-upload-list-picture {
      width: 100%;
    }
    .success {
      .download-btn {
        background: #15803D;
        outline-color: #15803D;
        border-color: #15803D;
      }
      .btns {
      }
    }
    
  }
}

#schedule {
  .calendar-container {
    height: 80vh;
  }

  .rbc-toolbar-label {
    font-weight: 700;
    color: rgb(0, 123, 255);
  }

  .rbc-allday-cell {
    display: none;
  }

  .rbc-header {
    line-height: 50px;
    font-size: 15px;
  }

  .rbc-event {
    font-size: 12px;
  }

  button {
    cursor: pointer;
  }

  .rbc-time-header-content .rbc-row.rbc-time-header-cell {
    .rbc-header .rbc-button-link span {
      user-select: none;
      font-size: 0;
      &::after {
        font-size: 12px;
      }
    }
    .rbc-header:first-child .rbc-button-link span::after {
      content: 'CN';
    }
    .rbc-header:nth-child(2) .rbc-button-link span::after {
      content: 'Thứ 2';
    }
    .rbc-header:nth-child(3) .rbc-button-link span::after {
      content: 'Thứ 3';
    }
    .rbc-header:nth-child(4) .rbc-button-link span::after {
      content: 'Thứ 4';
    }
    .rbc-header:nth-child(5) .rbc-button-link span::after {
      content: 'Thứ 5';
    }
    .rbc-header:nth-child(6) .rbc-button-link span::after {
      content: 'Thứ 6';
    }
    .rbc-header:nth-child(7) .rbc-button-link span::after {
      content: 'Thứ 7';
    }
    
  }

  .rbc-toolbar .rbc-btn-group:nth-child(3) {
    * {
      border-radius: 0;
      transition: all ease .2s;
    }

    button {
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      cursor: pointer;

      &:hover {
        background: white;
      }
    }

    .rbc-active {
      box-shadow: none;
      background: white;
      color: black !important;
      border-bottom-color: rgb(0, 125, 255);
      color: white;
    }
  }

  .rbc-event {
    background: rgb(0, 123, 255);
    border: none;

    * {
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}



.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.msg-modal {
  &.hide {
      display: none;
  }
  background: rgba(0,0,0,0.3);
  z-index: 1000;
  &-box {

  }
}



.custom-select-dropdown {
  .@{ant-prefix}-select-tree {
    .@{ant-prefix}-select-tree-treenode {

      .@{ant-prefix}-select-tree-switcher {
        position: absolute;
        width: 100%;
        text-align: left;
        z-index: 2;
        left: 7px;

        .@{ant-prefix}-select-tree-switcher-icon {
          visibility: hidden;
        }

        &:hover+.@{ant-prefix}-select-tree-node-content-wrapper {
          background-color: @item-hover-bg;
        }
      }

      .@{ant-prefix}-select-tree-node-content-wrapper {
        margin-left: 24px;
      }

      &.@{ant-prefix}-select-tree-treenode-switcher-open {
        .@{ant-prefix}-select-tree-node-content-wrapper {

          &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: -16px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #161616;
            z-index: 1;
            transform: rotate(0deg);
          }
        }
      }

      &.@{ant-prefix}-select-tree-treenode-switcher-close {
        .@{ant-prefix}-select-tree-node-content-wrapper {
          &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: -16px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #161616;
            z-index: 1;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}