.ant-tooltip-inner {
    color: black;
    background-color: white;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
    padding: 10px 8px;
}
.ant-tooltip-arrow-content::before {
    background: white;
}
.ant-btn-primary[disabled] span {
    color: rgba(0, 0, 0, 0.5);
}
